<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sr.unasat.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity android:name=".SummaryActivity" />
        <activity android:name=".items.AntroewaActivity"/>
        <activity android:name=".items.BitawiriActivity" />
        <activity android:name=".items.PompoenActivity" />
        <activity android:name=".items.BoulangerActivity" />
        <activity android:name=".items.KlaroenActivity" />
        <activity android:name=".items.KousebandActivity" />
        <activity android:name=".items.KomkommerActivity" />
        <activity android:name=".items.KoolActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Database.OrderProvider"
            android:authorities="sr.unasat.test.data.OrderProvider"
            android:exported="true" />
    </application>

</manifest>